
.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* navbar-part---- */
.navbar{
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
}
    
.link{
    display: flex;
    gap: 30px;
    margin-left: 200px;

}

.link li{
    list-style: none;
}

.link a{
    text-decoration: none;
}


.btn{
    border-radius: 12px;
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 600;
line-height: 1px;
letter-spacing: 0%;
text-align: center;
border: none;
width: 150px;
height:40px ;
margin-left: 220px;
margin-top: 10px;
}


.school{
    color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 28px;
font-weight: 700;
line-height: 1px;
letter-spacing: 0%;
}


.house{
    color: rgb(254, 163, 1);
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
}


.image{
    height: 60px;

}

.about{
    color: rgb(1, 172, 253);
font-family: Quicksand;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.faci{
    color: rgb(5, 212, 223);
font-family: Quicksand;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0%;
text-align: left;

}
.admission{
    color: rgb(93, 88, 239);
font-family: Quicksand;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.icon{
    width: 40px;
    height: 40px;
    display: none;
}


/* header part 2 */

.kids{
    display: flex;
    max-width: 1200px;
    margin: 10px auto;
    gap: 50px;
}

.student{
    font-family: Quicksand;
font-size: 56px;
font-weight: 700;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
margin-top: 100px;
}


.empo{
    color: rgb(254, 163, 1);
}

.vision{
    color: rgb(1, 172, 253);
}

.courage{
    color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}

.now{
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 600;
line-height: 1px;
letter-spacing: 0%;
text-align: center;
border: none;
width: 150px;
height:40px ;
margin-top: 10px;

}






















@media screen and (max-width:576px){
    
    
    
    .link{
        display: none;
    }
    .btn{
        display: none;
    }
    .icon{
        display:flex;
        margin-top: 20px;
        
        
    }
    .navbar{
        
        border-bottom: 0.5px solid rgb(254, 163, 1);
        display: flex;
        justify-content: space-between;
        width: 100%;
       

       


    }
    .school{
        display: none;
    
    }
    .image{
        text-align: left;
        margin-bottom: 20px;
        margin-left: 10px;
    }
   
    

    .kids{
        flex-direction: column-reverse;
        width: 100%;
        gap: 0px;
        padding: 10px;
        text-align: center;
        
    }
    .hero{
        max-width: 350px;
        margin: 0px auto;
    }
    .student{
        margin: 10px;
        text-align: center;
        font-size: 45px;

    }
    .courage{
        text-align: center;
    }
    
}

